#NewPassword {
  display: block;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#NewPassword form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#NewPassword form * {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
}

#NewPassword button{
  background-color: orangered;
  padding: 20px;
  border-radius: 20px;
  color: white;
}

#NewPassword input{
  border-radius: 20px;
}

#NewPassword h1{
  margin-bottom: 5%;
  font-size: 25px;
}
#NewPasswordMessage {
text-align: center;
margin-top: 20px;
}
