#input-mail {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#input-mail form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#input-mail form * {
  margin: 20px;  
}

#input-mail button{
  background-color: orangered;
  padding: 20px;
  border-radius: 20px;
  color: white;
}

#input-mail input{
  border-radius: 20px;
}

.requestResponse .redirect{
  color: white;
  cursor: pointer;
  padding: 20px;
  border-radius: 20px;
  background-color: #29335c;
}

